body {
    background-image: url(/images/wallhaven-39gogv.jpg);
    color: #ffc8fb;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    border: blueviolet solid 5px;
    margin: 30px;
}