body {
    background-image: url(/images/wallhaven-39gogv.jpg);
    color: #ff47f2;
    font-family: Impact, 'Arial Narrow Bold', sans-serif
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form fieldset {
    width: 40%;
}

label {
    display: flex;
    justify-content: center;
}

.radioMoods {
    display: inline;
    margin-right: 8px;
}

section {
    border: #8400ff solid 5px;
    margin: 30px;
}

button {
    margin-top: 10px;
}

span {
    background-color: rgba(77, 97, 95, 0.78);
}

.lowerBar {
    display: flex;
    justify-content: space-between;
}

.radioField {
    width: 40%;
}

.searchBar {
    width: 40%;
}