body {
    background-image: url(/images/wallhaven-39gogv.jpg);
    color: #ffc8fb;
    font-family: Impact, 'Arial Narrow Bold', sans-serif
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    width: 66%;
}

label {
    display: flex;
    justify-content: center;
}

.radioMoods {
    display: inline;
    margin-right: 8px;
    /* color: yellow; */
}

section {
    border: blueviolet solid 5px;
    margin: 30px;
}

button {
    margin-top: 10px;
}

span {
    background-color: rgba(77, 97, 95, 0.78);
}